body {
  font-family: $mainfont;
  p {
    font-family: $mainfont;
  }
  a {
    outline: 0;
    &.inl {
      display: inline;
      margin: 0;
    }
  }
  .btn {
    @include radius(3px);
    background: transparent;
    display: block;
    padding: 15px;
    border: 1px solid white;
    margin: 0 auto;
    font-weight: bold;
    @include transition(all .3s ease);
    background: white;
    color: $dark;
    &:hover {

      transform: scale(1.1);
    }
  }
  .left-cont {
    overflow: hidden;
    background-color: $dark;
    video {
      height: 100%;
      margin: 0 auto;
      display: block;
      /* height: 100vh; */
      left: -53%;
      position: absolute;
      z-index: -1;
      @media all and (max-width: 1024px) {
        display: none;

      }
    }
    &:before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      background: rgba(0, 0, 0, 0.8);
      @media all and (max-width: 1024px) {
        display: none;

      }
    }
    height: 100%;
    width: 40%;
    position: fixed;

    #contbox {
      position: absolute;
      width: 100%;
      height: 100%;
      height: 380px;
      top: 50%;
      margin-top: -190px;

    }
    #contin {

    }
    .container {
      .row {
        .twelve {
          // margin-top: 15rem;
          h1 {
            color: white;
            margin: 0;
            text-align: center;
            font-size: 2.5rem;
            padding-top: 5rem;
          }
          img {
            margin: 0 auto;
            display: block;
          }
          .main_logo {
            max-width: 100%
          }
          p {
            text-align: center;
            color: #ccc;
            padding: 5rem;
            margin: 0 auto;
            max-width: 313px;
            padding-top: 1rem;
            padding-bottom: 5rem;
            font-size: 1.7rem;
            @media all and (max-width: 500px) {
              padding: 4rem 0rem;
            }
          }
          a {
            color: white;
            text-decoration: none;
            text-align: center;
            max-width: 170px;

            &.btn {
              background: rgba(255, 255, 255, 0.69);
              display: block;
              padding: 15px;
              border: 1px solid white;
              margin: 0 auto;
              font-weight: bold;
              font-size: 1.6rem;
              color: $dark;
              margin-bottom: 5.6rem;
              &:hover {
                @include transition(all .3s ease);
                background: white;
                color: $dark;

              }
            }

          }
          ul {
            text-align: center;
            margin: 0;
            li {
              display: inline-block;
              margin: 5rem 1.5rem;
              color: white;
              margin-top: 0;
              @media all and (max-width: 500px) {
                margin: 3rem 3rem;
              }
              a {
                i {
                  font-size: 2.5rem;
                  opacity: .8;
                  transform: scale(.9);
                  @include transition(all .3s ease);

                }
                img {
                  opacity: .5;
                  @include transition(all .3s ease);
                  &:hover {
                    @include transition(all .3s ease);
                    opacity: 1;
                  }
                }

              }
              &:hover {
                i {

                  transform: scale(1.1);
                  @include transition(all .3s ease);
                  opacity: 1;

                }
              }
            }
          }
        }
      }
    }
    @media all and (max-width: 957px) {

      width: 100%;
      position: relative;
      #contbox {
        position: relative;
        width: 100%;
        top: 0;
        height: auto;
        margin-top: 0;
        #contin {
          .twelve {
            padding-top: 53px;
          }
        }
      }

    }
  }
  .right-cont {
    height: 100%;
    width: 60%;
    background: white;
    float: right;
    box-sizing: border-box;
    // border-left: 6px solid rgba(128, 128, 128, 0.31);

    .container {
      .row {
        .twelve {
          padding-top: 8.2rem;

          .contNode {

            border-bottom: 1px solid rgba(128, 128, 128, 0.32);
            margin-bottom: 3rem;
            h2 {
              font-size: 2.6rem;
              font-weight: bold;
              color: $dark;
              font-family: $mainfont;
              letter-spacing: 0rem;

            }
            p {

            }
            a {
              color: $dark;
              margin-bottom: 2rem;
              display: block;
              text-decoration: none;
              @include transition(all .3s ease);
              color: #a50000;
              &.inl {
                display: inline;
                margin: 0;
              }
              &:hover {
                @include transition(all .3s ease);
                color: #4e0000;
              }

            }
            ul {
              text-align: center;
              margin-top: 0.6rem;
              padding: 10px;
              background: #313131;
              padding-top: 22px;
              padding-bottom: 22px;
              li {
                list-style: none;
                height: 160px;
                width: 32%;
                max-width: 285px;
                background: url('../img/sampthumb.jpg') center no-repeat white;
                background-size: cover;
                display: inline-block;
                box-sizing: border-box;
                //    @include transition(all .3s ease);

                margin-bottom: -3px;
                &:hover {
                  //    @include transition(all .3s ease);
                  border: 1px solid rgba(0, 0, 0, 0.25);
                }

                @media all and (max-width: 1316px) {
                  width: 45%;
                }
                @media all and (max-width: 957px) {
                  width: 32%;

                }

                @media all and (max-width: 737px) {

                  width: 45%;
                }
                @media all and (max-width: 500px) {
                  width: 100%;
                }

                &:nth-child(1) {
                  background: url('../img/thumbs/thumb-stosh.jpg') center no-repeat white;

                }
                &:nth-child(2) {
                  background: url('../img/thumbs/thumb-edge.jpg') center no-repeat white;

                }
                &:nth-child(3) {
                  background: url('../img/thumbs/thumb-musc.jpg') center no-repeat white;

                }
                &:nth-child(4) {
                  background: url('../img/thumbs/thumb-stax.jpg') center no-repeat white;

                }
                &:nth-child(5) {
                  background: url('../img/thumbs/thumb-riv.jpg') center no-repeat white;

                }
                &:nth-child(6) {
                  background: url('../img/thumbs/thumb-ss.jpg') center no-repeat white;

                }
                &:nth-child(7) {
                  background: url('../img/thumbs/thumb-astar.jpg') center no-repeat white;

                }
                &:nth-child(8) {
                  background: url('../img/thumbs/thumb-vip.jpg') center no-repeat white;

                }
                &:nth-child(9) {
                  background: url('../img/thumbs/thumb-flame.jpg') center no-repeat white;

                }
                &:nth-child(10) {
                  background: url('../img/thumbs/thumb-ez.jpg') center no-repeat white;

                }
                &:nth-child(11) {
                  background: url('../img/thumbs/thumb-harm.jpg') center no-repeat white;

                }
                &:nth-child(12) {
                  background: url('../img/thumbs/thumb-lumasmart.jpg') center no-repeat white;

                }
                &:nth-child(13) {
                  background: url('../img/thumbs/thumb-he.jpg') center no-repeat white;

                }

                &:nth-child(14) {
                  background: url('../img/thumbs/thumb-dm.jpg') center no-repeat white;

                }
                &:nth-child(15) {
                  background: url('../img/thumbs/thumb-rle.jpg') center no-repeat white;

                }
              }
            }
          }
        }
      }
    }

    @media all and (max-width: 957px) {
      width: 100%;
      float: none;
      border: none;
    }

  }
  .featProjWrap {
    width: 100%;
    height: 200px;
    background: grey;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.98);
    position: fixed;
    display: none;

    z-index: 10;
    .xbtn {
      position: absolute;
      right: 0;
      top: 5px;
      height: 100px;
      width: 100px;
      background: url('../img/xbtn-bg.png') center no-repeat;
      background-size: contain;
      left: 50%;
      margin-left: -50px;
    }
    .project-con {
      overflow-y: scroll;
      display: none;
      height: 100%;
      display: none;
      &.vis {
        display: block;
      }
      .container {
        background: white;
        padding: 2.5%;
        margin-top: 11rem;
        margin-bottom: 5rem;
        max-width: 1024px;
        @media all and (max-width: 768px) {
          margin-top: 11rem;
          margin-bottom: 5rem;
          width: 100%;
          padding: 25px;

        }
        .row {
          .twelve {
            img {
              display: block;
              margin: 0 auto;
              max-width: 100%;
              margin-bottom: 1rem;
            }
            h2 {
              text-align: center;

            }
            a {

              &.btn {
                color: $dark;
                text-decoration: none;
                text-align: center;
                max-width: 170px;
                background: transparent;
                display: block;
                padding: 15px;
                border: 1px solid $dark;
                margin: 0 auto;
                font-weight: bold;

                margin: 3rem auto;
                font-weight: bold;
                margin-bottom: 0;
                &:hover {
                  @include transition(all .3s ease);
                  background: $dark;
                  color: white;

                }
              }
              &.closproj {
                color: $dark;
                text-align: center;
                display: block;
                margin: 1.5rem auto;

              }
            }

            ul {
              text-align: center;
              list-style: none;
              margin-bottom: 1rem;
              li {
                display: inline-block;
                display: inline-block;
                background: rgba(128, 128, 128, 0.16);
                padding: 7px;
              }
            }
            h4 {
              font-size: 2.1rem;
              background: rgba(128, 128, 128, 0.14);
              padding: 1rem;
              border-left: 2px solid #909090;
            }
          }
        }
      }
    }
  }
  .closed {
    opacity: 0;
    z-index: -99;
    @include transition(all .3s ease);
  }
  .opened {
    opacity: 1;
    z-index: 99;
    @include transition(all .3s ease);
  }
  .modalOpen {
    overflow: hidden;
  }
  footer {
    a {
      text-decoration: none;
      padding-left: 1rem;
      @include transition(all .3s ease);
      color: #a50000;
      &:hover {
        @include transition(all .3s ease);
        color: #4e0000;
      }
    }
  }
}


